/*  GENERIC STYLES
	Styles for the demonstration page. */
	body {font-family: Helvetica Neue,Helvetica,Arial,sans-serif; line-height: 1.45; margin: 0;padding: 4em 10% 0 10%;}
	h1 {margin:2em 0;}
	section {padding-bottom: 6em;}
	footer {border-top: 1px solid #ccc; padding-bottom: 3em;}

	.svgIcon {display:block;font-size: 1em;line-height: 1;width: 1em;height: 1em;}
	.svgIcon > svg {max-width: none; display: block; fill: currentColor; width: 1em; height: 1em;}
	


/*  QUICKNAV
    Quick nav sticky at right of some pages. */
	* {box-sizing: border-box;}
    .quickNav {--quicknav-height:4em; display: block;background: lightblue;position: fixed;z-index: 5;top: 0;height: var(--quicknav-height);left: 0;right: 0;opacity: 0; transition: opacity 0.5s, transform 0.5s;}
    .quickNav__in {height: 100%; }
    .quickNav__items {display: flex;height: 100%;}
    .quickNav__item {flex: 1 1 auto;display: flex;align-items: center;justify-content: center;color: #000;text-decoration: none;text-transform: uppercase;font-weight: bold;text-align: center;}
    .quickNav__text {display: block;flex: 0 1 auto;}

    .quickNav__trigger {appearance: none; position: relative;cursor: pointer;background: none;outline: none;border: none;border-radius: 0;padding: 0;margin: 0;display: flex;align-items: center;text-align: center;width: 100%;max-width: 100%;height: var(--quicknav-height);color: blue;font-size: 1em;line-height: 1.2;font-weight: bold;text-decoration: none;text-transform: uppercase; display: none;}
	.quickNav__triggerLabel {display:block;flex: 1 1 auto;padding: 0 3em;}
	.quickNav__triggerIcon {display: block;position: absolute;right: 1em;top: 50%;transform: translateY(-50%);color: blue;}
	.quickNav__triggerOpen {display: block; }
	.quickNav__triggerClose {display: none; }

        /* Init */
        .quickNav.isInit {opacity: 1; }

        /* Hover */
        .quickNav__item:hover {color: blue;}

        /* Active */
        .quickNav__item.active {color: blue;}

        /* Hide */
        .quickNav.quickNav--hide {transform: translateY(-101%); }


	/* Quicknav becomes a dropdown */
	@media (max-width:991px) {
		.quickNav { }
		.quickNav__in { }
		.quickNav__items {display: none;height: auto;background: lightblue;}
		.quickNav__item {padding: 1em 0;}
		.quickNav__text { }

		.quickNav__trigger {display: flex;}
		.quickNav__triggerLabel { }
		.quickNav__triggerIcon { }
		.quickNav__triggerOpen { }
		.quickNav__triggerClose { }

		/* STATE / Open */
		.quickNav.open .quickNav__items {display: block;}
		.quickNav.open .quickNav__triggerOpen {display: none; }
		.quickNav.open .quickNav__triggerClose {display: block; }
	}